<div class="display-6 bg-secondary text-center text-light p-3">
  Lista de Produtos
</div>
<app-add-product-modal
  *ngIf="isAddProductModalOpen"
  (closed)="closeAddProductModal()"
></app-add-product-modal>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>

<button (click)="openAddProductModal()">Adicionar</button>
